<p id="notice"><%= notice %></p>

<p>
  <strong>Discuss:</strong>
  <%= @rating.discuss %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>








<%# Below was copied and pasted from the _promoter partial to here (obviously) %>



<h2>(Promoter view)</h2>
<br></br>

<%# will contain list of all questions to rate, with radio buttons %>

<%# we also wanted the questions already rated to grey-out/be placed at bottom; better yet, to disappear altogether %>


<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>




<h1>Questions to Evaluate</h1>

<br></br>

<div class="row">
<div class="col-md-12">
<div style="margin-left:0%">
      
<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>

  <thead> <%#table header%>
    <tr>
      <th>Question</th>
      <th>Rating Buttons</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %> <%#table content: each row contains...%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> <%# what's this again? %>
        <td><%= question.content %></td>

        <%# insert radio buttons %>

      </tr>
    <% end %>
  </tbody>

</table>

</div>
</div>
</div>

<br>




<h4>Rating Example (test)</h4>
 <%= f.radio_button :rate, 'Discuss' %>
 <%= label :rate_l, 'Discuss' %> <%# I don't know what :rate_l is just yet... %>
 <%= f.radio_button :rate, 'Pass' %>
 <%= label :rate_l, 'Pass' %>

<br>
<br>

  <% if !current_user.admin? %>
  <div class="actions">
    <%= f.submit 'Save Ratings'%>
  </div>
  <% end %>
<% end %>

<br>
