<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>

    <div id="error_explanation">

      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>

  <% end %>


  <%#displays form table for entering new assignment details%>
  <div class="field">
    <%= f.label :title %><br> <%#automatically capitalizes labels%>
    <%= f.text_field :title, size: "24x1"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "44x5"%>
    <br>
    <%= f.check_box :reveal_1 %>
    <%= f.label :reveal_1, "Show to Promoters" %> <br>
    <%= f.label :percent_1, "Percentage of Questions for Promoters" %>
    <%= f.text_area :percent_1, size: "5x1"%> <br><br>
  </div>
  <div class="field">
    <%= f.label :description_2 %><br>
    <%= f.text_area :description_2, size: "44x5"%>
    <br>
    <%= f.check_box :reveal_2 %>
    <%= f.label :reveal_2, "Show to Promoters" %> <br>
    <%= f.label :percent_2, "Percentage of Questions for Promoters" %>
    <%= f.text_area :percent_2, size: "5x1"%> <br><br>
  </div>
  <div class="field">
    <%= f.label :description_3 %><br>
    <%= f.text_area :description_3, size: "44x5"%>
    <br>
    <%= f.check_box :reveal_3 %>
    <%= f.label :reveal_3, "Show to Promoters" %> <br>
    <%= f.label :percent_3, "Percentage of Questions for Promoters" %>
    <%= f.text_area :percent_3, size: "5x1"%> <br><br>
  </div>
<br>

  <div class="field">
    <%= f.label :writing_due %><br>
    <%= f.datetime_select :writer_due %>
  </div>
  <div class="field">
    <%= f.label :promoting_due %><br>
    <%= f.datetime_select :promoter_due %>
  </div>

<br>

  <div class="field">
    <%= f.radio_button :active, true %>
    <%= label :active_assignment, 'Current' %>
  </div>

<br>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
