<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>

    <div id="error_explanation">

      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>

  <% end %>


  <%#displays form table for entering new assignment details%>
  <div class="field">
    <%= f.label :title %><br> <%#automatically capitalizes labels%>
    <%= f.text_field :title, size: "51x1"%>
  </div>

  <br><br>

  <div class="field">
    <%= f.label :description, "Prompt 1" %><br>
    <%= f.text_area :description, size: "51x5"%>
    <br>
    <% if @assignment.percent_1 == 0%>
    <%= f.hidden_field :reveal_1, value: false %>
    <% else%>
    <%= f.hidden_field :reveal_1, value: true%>
    <%end%>
    <%= f.label :percent_1, "Show"%>  
    <%= f.text_field :percent_1, size: "3x1"%>% 
    <%= f.label :percent_1, "of submissions to Promoters"%>  

    <h6>Note: if the above percentage is 50 and there are 40 student submissions for this prompt,
        <br>promoters will be asked to complete promotions on a subset of 20 of those submissions.</h6>

  </div>

<br><br>

  <div class="field">
    <%= f.label :description_2, "Prompt 2" %><br>
    <%= f.text_area :description_2, size: "51x5"%>
    <br>
    <% if @assignment.percent_2 == 0%>
    <%= f.hidden_field :reveal_2, value: false %>
    <% else%>
    <%= f.hidden_field :reveal_2, value: true%>
    <%end%>
    <%= f.label :percent_2, "Show"%>  
    <%= f.text_field :percent_2, size: "3x1"%>% 
    <%= f.label :percent_2, "of submissions to Promoters"%>    
  </div>

<br><br>

  <div class="field">
    <%= f.label :description_3, "Prompt 3" %><br>
    <%= f.text_area :description_3, size: "51x5"%>
    <br>
    <% if @assignment.percent_3 == 0%>
    <%= f.hidden_field :reveal_3, value: false %>
    <% else%>
    <%= f.hidden_field :reveal_3, value: true%>
    <%end%>
    <%= f.label :percent_3, "Show"%>  
    <%= f.text_field :percent_3, size: "3x1"%>% 
    <%= f.label :percent_3, "of submissions to Promoters"%> 
  </div>

<br><br>

<br>

  <div class="field">
    <%= f.label :writing_due %><br>
    <%= f.datetime_select :writer_due %>
  </div>
  <div class="field">
    <%= f.label :promoting_due %><br>
    <%= f.datetime_select :promoter_due %>
  </div>

<br>

  <div class="field">
    <%= f.radio_button :active, true %>
    <%= label :active_assignment, 'Current' %>
  </div>

<br>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
