<%# Admins only %> 
<%if current_user.admin?%>
  <div class='page-header'>
    <h1>Assignments </h1>

  </div>
  <p><%= link_to 'New Assignment', new_assignment_path, class:'btn btn-primary' %></p>  
<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  
  <thead> <%#table header%>
    <tr>
      <th>Title</th>
      <th>Due Dates</th> 
      <th class='text-center'>Submissions</th>
      <th class='text-center'>Actions</th>
    </tr>
  </thead>

  <tbody class='table-center'>
    <% @assignments.each do |assignment| %> <%#table content: each row contains...%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <% if assignment.current? %>
        <tr bgcolor="#ededed">

        <%end%>

        <td><%= assignment.title %></td>
        <td>Writing: <%= assignment.writer_due.strftime('%-B %-d, %Y at %I:%M%p') %>
            <br>
            Promoting: <%= assignment.promoter_due.strftime('%-B %-d, %Y at %I:%M%p') %></td>
        <td class='text-center'><%= link_to 'See all', {:controller => "assignments", :action => "qlist", :assignment => assignment.id}, class:'btn btn-link' %>
        </td>

        <td class='text-center'><%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_assignment_path(assignment), class:'btn btn-warning' %>
        <%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, assignment, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td> 
        <%# why does it ask me to confirm several times (usually, but not always? %>        
      </tr>

    <% end %>
  </tbody>

</table>

<p> Current assignment is shaded. </p>




<%else%>
<h3>You do not have access to this page</h3>
<%end%>