<%# Admins only %> 

  <div class="row">
  <div class="col-md-12">
    <div style="margin-left:0%">

<h1>Assignments </h1>

<br>

<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  
  <thead> <%#table header%>
    <tr>
      <th style="width: 30%">Title</th>
      <th style="width: 38%">Due Dates</th> 
      <th style="width: 18%">Questions Submitted</th>
      <th style="width: 14%">Editing Buttons</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %> <%#table content: each row contains...%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <% if assignment.active? %>
        <tr bgcolor="#d2d2d2">

        <%end%>

        <td><%= assignment.title %></td>
        <td>Writing: <%= assignment.writer_due.strftime('%-B %-d, %Y at %I:%M%p') %>
            <br>
            Promoting: <%= assignment.promoter_due.strftime('%-B %-d, %Y at %I:%M%p') %></td>
        <td><%= link_to 'Questions List', {:controller => "assignments", :action => "qlist", :assignment => assignment.id} %>
        </td>

        <td><%= link_to 'Edit', edit_assignment_path(assignment) %> <br>
        <%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <%# why does it ask me to confirm several times (usually, but not always? %>        
      </tr>

    <% end %>
  </tbody>

</table>

<h5> Current assignment is shaded. </h5>

<br><br>

<%= link_to 'New Assignment', new_assignment_path %>

  </div>
</div>
</div>

<br>