<%# Admins only %> 

  <div class="row">
  <div class="col-md-12">
    <div style="margin-left:0%">
      
<h1>Assignments </h1>


<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  <thead> <%#table header%>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Due Dates
      </th> 
      <th>Questions Submitted</th>
      <th>Editing Buttons</th>
      <th>Current Assignment</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %> <%#table content: each row contains...%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= assignment.title %></td>
        <td><%= assignment.description %></td>
        <td>Writing: <%= assignment.writer_due %>
        <br>
        Promoting: <%= assignment.promoter_due %></td>
        <td><%= link_to 'Questions List', {:controller => "assignments", :action => "qlist", :assignment => assignment.id} %>
        </td>

        <td><%= link_to 'Show', assignment %> <br>
        <%= link_to 'Edit', edit_assignment_path(assignment) %> <br>
        <%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <%# why does it ask me to confirm several times (usually, but not always? %>

        <%# radio button for current assignment %>
        
        <%# The f.submit part needs to be outside the end of the table.
        But as soon as I end the form_for part, I can't do f.submit
        I tried creating the form around the whole "@assignments.each" part
        But that displays everything else weird and I couldn't figure out how to fix that...
        %>
        <td>
          <%= form_for(assignment) do |f| %>
          <%= f.radio_button :active, true %>
          <%= label :active_assignment, 'Current' %>
          <%= f.submit "Save" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Assignment', new_assignment_path %>

  </div>
</div>
</div>

<br>