<h1> Questions Submitted for Assignment </h1>
<h5> Questions to be shown to class are shaded. </h5>

<br><br>
<h4>Prompt 1: <%= @assignment.description%></h4> 
<br>


<table class="table table-bordered">


		<thead>
			<th style="width: 5%">Show to Class</th>
			<th style="width: 50%">Question</th>
			<th style="width: 18%">Writer</th>
			<th style="width: 10%">Comments</th>
			<th style="width: 17%">Number of Upvotes</th>
		</thead>
		<tbody>
			<% @questions_flag_1.each do |question| %>
			<%= form_for(question) do |f| %>
			<tr>
				<%if question.prof_choice%>
				<tr bgcolor="#d2d2d2">
					<%end%>
			<td><%if question.prof_choice%>
					<%= f.hidden_field :prof_choice, value: false%>
					<button style="background-color:#d2d2d2">
					<%= f.submit "Don't Show to Class"%>
				</button>
				<%else%>
					<%= f.hidden_field :prof_choice, value: true%>
					<button style="background-color:#f0bb1a">
					<%= f.submit "Show to Class"%>
				<%end%>
				</td>
			<td><%= question.content %></td>
			<td><%= question.user.name %></td>
			<td><%= link_to 'Comments', {:controller => "questions", :action => "commentlist", :question => question.id} %></td>
			<td><% if question.ratings.count != 0%>
				<%=(question.votes.to_f / question.ratings.count) * 100%>% 
				<%end%> </td>
				<% end %>
			
			
		</tr>
		</tbody>
		<% end %>
</table>

	<br><br>
	<h4>Prompt 2: <%= @assignment.description_2%></h4> 
	<br>
	<table class="table table-bordered">

		<thead>
			<th style="width: 5%">Show to Class</th>
			<th style="width: 50%">Question</th>
			<th style="width: 18%">Writer</th>
			<th style="width: 10%">Comments</th>
			<th style="width: 17%">Number of Upvotes</th>
		</thead>

		<tbody>
			<% @questions_flag_2.each do |question| %>
			<%= form_for(question) do |f|%>
			<tr>
				<%if question.prof_choice%>
				<tr bgcolor="#d2d2d2">
					<%end%>
			<td><%if question.prof_choice%>
					<%= f.hidden_field :prof_choice, value: false%>
					<button style="background-color:#d2d2d2">
					<%= f.submit "Don't Show to Class"%>
				</button>
				<%else%>
					<%= f.hidden_field :prof_choice, value: true%>
					<button style="background-color:#f0bb1a">
					<%= f.submit "Show to Class"%>
				<%end%>
				</td>
			<td><%= question.content %></td>
			<td><%= question.user.name %></td>
			<td><%= link_to 'Comments', {:controller => "questions", :action => "commentlist", :question => question.id} %></td>
			<td><% if question.ratings.count != 0%>
				<%=(question.votes.to_f / question.ratings.count) * 100%>% 
				<%end%> </td>
			<% end %>
			<%end%>
		</tr>
		</tbody>

	</table>

	<br><br>
	<h4>Prompt 3: <%= @assignment.description_3 %></h4> 
	<br>
	<table class="table table-bordered">

		<thead>
			<th style="width: 5%">Show to Class</th>
			<th style="width: 50%">Question</th>
			<th style="width: 18%">Writer</th>
			<th style="width: 10%">Comments</th>
			<th style="width: 17%">Number of Upvotes</th>
		</thead>

		<tbody>
			<% @questions_flag_3.each do |question| %>
			<%= form_for(question) do |f|%>
			<tr>
				<%if question.prof_choice%>
				<tr bgcolor="#d2d2d2">
					<%end%>
			<td><%if question.prof_choice%>
					<%= f.hidden_field :prof_choice, value: false%>
					<button style="background-color:#d2d2d2">
					<%= f.submit "Don't Show to Class"%>
				</button>
				<%else%>
					<%= f.hidden_field :prof_choice, value: true%>
					<button style="background-color:#f0bb1a">
					<%= f.submit "Show to Class"%>
				<%end%>
				</td>
			<td><%= question.content %></td>
			<td><%= question.user.name %></td>
			<td><%= link_to 'Comments', {:controller => "questions", :action => "commentlist", :question => question.id} %></td>
			<td><% if question.ratings.count != 0%>
				<%=(question.votes.to_f / question.ratings.count) * 100%>% 
				<%end%> </td>
			<% end %>
			<%end%>
		</tr>
		</tbody>

	</table>
	<br><br>









<%= link_to 'Back to Assignments', assignments_path %>
