<h1> Questions Submitted for Assignment </h1>

<br>

	<table class="table table-bordered">

		<thead>
			<th style="width: 64%">Question</th>
			<th style="width: 19%">Writer</th>
			<th style="width: 7%">Comments</th>
			<th style="width: 10%">Number of Upvotes</th>
		</thead>

		<tbody>
			<% @questions.each do |question| %>
			<tr>
			<td><%= question.content %></td>
			<td><%= question.user.name %></td>
			<td><%= link_to 'Comments', {:controller => "questions", :action => "commentlist", :question => question.id} %></td>
			<td><%= question.votes %> </td>
			<% end %>
		</tr>
		</tbody>

	</table>

	<br><br>

<%= link_to 'Back to Assignments', assignments_path %>
