<!DOCTYPE html>
<html>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<head>

  <title>Thoughts and Questions</title> <%# Internet tab title %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Thoughts and Questions", root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user.nil? %>
              <li> <p class='navbar-text'>Logged in as <%= current_user.name %></p></li>
              <li>
                <p class='navbar-text'>
                  Role: 
                  <%=if current_user.admin?
                        "Administrator"
                      elsif current_user.group.writer?
                        "Writer"
                      else
                        "Promoter"
                    end 
                      %>
                    
                  </p>
              </li>
            <% end %>
            <li><a href="<%= root_path %>"><%= 'Home' %></a></li>
            
            <li><%=link_to 'Sign out', destroy_user_session_path, :method => :delete%></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2" id='sidebar'>
          <ul class="nav nav-stacked">
              <% if !current_user.nil?
                  if current_user.admin? %>
                    <li><%= link_to "List of users", users_path, :class=>'sidebar-link'%></li>
                    <li><%= link_to "List of assignments", assignments_path, :class=>'sidebar-link'%></li>

                 <% else %>
                    <li><%= link_to "Homework statistics", users_path, :class=>'sidebar-link'%></li>
                    <li><%= link_to "Assignment", questions_path, :class=>'sidebar-link'%></li>
                <% end %>
              <%  end %>
          </ul>
        </div>
        <div class='col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2'>
          <%= yield %>
        </div>

</div>
</div>

</body>
</html>
