<!DOCTYPE html>
<html>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<head>

  <title>Thoughts and Questions</title> <%# Internet tab title %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= if current_user.nil?
        @first_entry = ''
        @second_entry = ''
      elsif current_user.admin?
        @first_link = '/users/'
        @first_entry = 'List of Users'
        @second_link = '/assignments/'
        @second_entry = 'List of Assignments'
        @last_entry = ''
      else
        @first_link = '/users'
        @first_entry = 'Homework Statistics'
        @second_link = '/questions'
        @second_entry = 'Assignment'

      end%>

  <link rel="stylesheet" href="custom.css.scss">
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="col-md-12">



        <div class="navbar-header">
          <a class="navbar-brand" >Thoughts and Questions
            <h6>An Application to Support Just-in-Time Teaching</h6></a>
     
        </div>



        <nav> <%# navigation bar %>
          <ul class="nav navbar-nav navbar-right"> 
            <li><a>Logged in as: <%= 
            if current_user.nil?
              "not logged in"
              else
                current_user.name 
            end %></a></li>
            <li><a >Role: 
              <%=if current_user.nil?
                    "not logged in"
                  elsif current_user.admin?
                    "Administrator"
                  else
                    if current_user.group.writer?
                      "Writer"
                    else
                      "Promoter"
                    end
                  end 
                  %></a></li> 
            <li><a href="<%= root_path %>"><%= 'Home' %></a></li>
            <li><a <%=link_to 'Sign out', destroy_user_session_path, :method => :delete%></a></li>
            <br><br><br>
          </ul>
        </nav>
      </div>
    </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style='position:fixed;'>
          <ul class="nav nav-sidebar">
            <br><br>
            <li><a href="<%= @first_link %>"><%= @first_entry %></a></li>
            <li><a href="<%= @second_link %>"><%= @second_entry %></a></li>

          </ul>
        </div>
        
      </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
    <div style="margin-left:15%">

	<%= yield %>

</div>

</body>
</html>
