<%# Admin view %>
<%if current_user.admin?%>
  <div class="row">
  <div class="col-md-12">
    <div style="margin-left:0%">
      
<h1>Student Statistics</h1>
<br>

<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>

  <thead> <%#table header%>
    <tr>
      <th style="width: 11%">Student</th>
      <th style="width: 25%">E-mail</th>
      <th style="width: 10%">Submissions</th>
      <th style="width: 9%">Questions</th>
      <th style="width: 9%">Promotions</th>
      <th style="width: 14%">Promoter Merit (Professor)</th>
      <th style="width: 14%">Promoter Merit (Students)</th>
      <th style="width: 8%">Remove</th> <%# we could certainly label this something else - or not at all - I just didn't know what %>
    </tr>
  </thead>

 <%# how to exclude admins from this list of students %> 
    <tbody>
    <% @users.each do |user| %> <%#table content: each row contains...%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Student homework', {:controller => "users", :action => "hwlist", :user => user.id} %></td>
        <td><%= user.questions.count%></td>
        <td><%= user.ratings.count%></td>
        <td><%= prof_choice_seen = 0
               prof_choice_picked = 0
               @questions = Question.where(prof_choice: true)
               @questions.each do |question|
                @evaluations = Evaluation.where(user_id: user.id)
                @evaluations.each do |evaluation|
                  if evaluation.questions.exists?(question)
                    prof_choice_seen += 1
                    if Rating.where(user_id: user.id, question_id: question.id, discuss: true).exists?
                      prof_choice_picked += 1
                    end
                  end
                end
              end
              if prof_choice_seen != 0
                prof_choice_picked *100 /prof_choice_seen 
              else
              0
              end%>%
          </td>
        <td><%= top_quart_seen = 0
               top_quart_picked = 0
               @assignments.each do |assignment|
                @questions_1 = Question.where(assignment_id: assignment.id, description_flag: 1).order('percentage desc')
                @questions_2 = Question.where(assignment_id: assignment.id, description_flag: 2).order('percentage desc')
                @questions_3 = Question.where(assignment_id: assignment.id, description_flag: 3).order('percentage desc')
                length_1 = @questions_1.count
                length_2 = @questions_2.count
                length_3 = @questions_3.count
                @questions = @questions_1.limit(length_1/4) + @questions_2.limit(length_2/4) + @questions_3.limit(length_3/4)
                @questions.each do |question|
                  @evaluations = Evaluation.where(user_id: user.id)
                  @evaluations.each do |evaluation|
                    if evaluation.questions.exists?(question)
                      top_quart_seen += 1
                      if Rating.where(user_id: user.id, question_id: question.id, discuss: true).exists?
                        top_quart_picked += 1
                      end
                    end
                  end
                end
              end
              if top_quart_seen != 0
                top_quart_picked * 100/top_quart_seen 
              else
                0
              end%>%</td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>

</table>

<%else%>
<h3>You do not have access to this page</h3>
<%end%>
