<%# Admin view %>
<%if current_user.admin?%>
  <div class="row">
  <div class="col-md-12">
    <div style="margin-left:0%">
      
<h1>Student Statistics</h1>
<br>

<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>

  <thead> <%#table header%>
    <tr>
      <th style="width: 11%">Student</th>
      <th style="width: 25%">E-mail</th>
      <th style="width: 10%">Submissions</th>
      <th style="width: 9%">Questions</th>
      <th style="width: 9%">Promotions</th>
      <th style="width: 14%">Promoter Merit (Professor)</th>
      <th style="width: 14%">Promoter Merit (Students)</th>
      <th style="width: 8%">Remove</th> <%# we could certainly label this something else - or not at all - I just didn't know what %>
    </tr>
  </thead>

 <%# how to exclude admins from this list of students %> 
    <tbody>
    <% @users.each do |user| %> <%#table content: each row contains...%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Student homework', {:controller => "users", :action => "hwlist", :id => user.id} %></td>
        <td><%= user.questions.count%></td>
        <td><%= user.ratings.count%></td>
        <td><%= prof_choice_seen = 0
               prof_choice_picked = 0
               @questions = Question.where(prof_choice: true)
               @questions.each do |question|
                @evaluations = Evaluation.where(user_id: user.id)
                @evaluations.each do |evaluation|
                  if evaluation.questions.exists?(question)
                    prof_choice_seen += 1
                    if Rating.where(user_id: user.id, question_id: question.id, discuss: true).exists?
                      prof_choice_picked += 1
                    end
                  end
                end
              end
              if prof_choice_seen != 0
                prof_choice_picked *100 /prof_choice_seen 
              else
              "n/a"
              end%>
              <%if prof_choice_seen != 0%>
              %
              <%end%>
          </td>
        <td><%= top_quart_seen = 0
               top_quart_picked = 0
               @assignments.each do |assignment|
                @questions_1 = Question.where(assignment_id: assignment.id, description_flag: 1).order('percentage desc')
                @questions_2 = Question.where(assignment_id: assignment.id, description_flag: 2).order('percentage desc')
                @questions_3 = Question.where(assignment_id: assignment.id, description_flag: 3).order('percentage desc')
                length_1 = @questions_1.count
                length_2 = @questions_2.count
                length_3 = @questions_3.count
                @questions = @questions_1.limit(length_1/4) + @questions_2.limit(length_2/4) + @questions_3.limit(length_3/4)
                @questions.each do |question|
                  @evaluations = Evaluation.where(user_id: user.id)
                  @evaluations.each do |evaluation|
                    if evaluation.questions.exists?(question)
                      top_quart_seen += 1
                      if Rating.where(user_id: user.id, question_id: question.id, discuss: true).exists?
                        top_quart_picked += 1
                      end
                    end
                  end
                end
              end
              if top_quart_seen != 0
                top_quart_picked * 100/top_quart_seen 
              else
              "n/a"
              end%>
              <%if top_quart_seen != 0%>
              %
              <%end%></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>

</table>

<%else%>

<%# I don't think we need these things here, Ken

<p>
  <strong>Name</strong>
  <%= @user.name %>
<%#</p>

<p>
  <strong>Email</strong>
  <%= @user.email %>
<%#</p> 

%>

<h1>Homework Statistics</h1>
<br>

<p>
  <strong>Current role: </strong>
     <%= if current_user.group.writer?
          "Writer"
        else
          "Promoter"
        end %>
</p>
<div>
<%= button_to 'Change Group', :action => 'change' %>
</div>
<br><br>



<h3>Questions</h3>

<%if @questions.exists?%>

<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  
  <thead> <%#table header%>
    <tr>
      <th style="width: 45%">Assignment</th>
      <th style="width: 55%">Question</th> 
    </tr>
  </thead>

    <tbody>
      <% @questions.each do |question| %> <%#table content: each row contains...%>
        <tr>
        <% if question.description_flag == 1
              prompt = question.assignment.description
          elsif question.description_flag == 2
              prompt = question.assignment.description_2
          elsif question.description_flag == 3
              prompt = question.assignment.description_3
          end%>
          <td><%= question.assignment.title + ": " + prompt %></td>
          <td><%= question.content %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

<%else%>
  <h5>You have not submitted any questions yet!</h5>
<%end%>

<br>


<h3>Ratings</h3>

<%if @ratings.exists?%>
  <table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
    
    <thead> <%#table header%>
      <tr>
        <th style="width: 30%">Assignment</th>
        <th style="width: 30%">Question</th>
        <th style="width: 38%">Comment</th>
        <th style="width: 38%">Vote</th>
      </tr>
    </thead>

    <tbody>
      <% @ratings.each do |rating| %> <%#table content: each row contains...%>

          <td><%= rating.question.assignment.title %></td>
          <td><%= rating.question.content %></td>
          <td><%= rating.comment %></td>
          <% if rating.discuss? %> 
              <td>Discuss</td>
          <%elsif !rating.discuss?%>
              <td>Don't Discuss</td>
          <%end%>
        </tr>

      <% end %>
    </tbody>

  </table>
<%else%>
  <h5>You have not submitted any promotions yet!</h5>
<%end%>

<%end%>





