<h1> Promoter View </h2>

	<table class="table table-striped">
		<thead>
			<th>Question</th>
			<th>Rate It!</th>
		</thead>

		<tbody>
			<% @questions.each do |question| %>
			<td><%= question.content %></td>
			<td><% @rating = Rating.create(user_id: @user.id, question_id: question.id) %>
				<%= radio_button_tag :discuss, @rating.discuss => 'true' %><%= label_tag :discuss, 'Discuss' %>
				<%= radio_button_tag :discuss, @rating.discuss => 'false' %><%= label_tag :discuss, 'Pass' %>
			</td>

		</tbody>
	
	<% end %>



