<h1>Writer Phase</h1>

<h5>The Writer phase ends on <%= @assignment.writer_due.strftime('%-B %-d, %Y at %I:%M%p')%>.</h5>
<br>
<p id="notice"><%= flash[:notice] %></p>
<div class='row'>
  <div class='col-md-8'>
    <%= form_tag controller: "questions", action:"save_all" do %>

      <% @questions.each do |question| %>
        <%
          if question.description_flag == 1
            label = @assignment.description
          else
            label = @assignment["description_#{question.description_flag}"]
          end
          %>
        <div class='form-group'>
          <%= label_tag "content["+question.id.to_s+"]", label, class:'control-label' %>
          <%= text_area_tag "content["+question.id.to_s+"]", question.content, :class=>"form-control", :rows=>4 %>
        </div>
      <% end %>
      <div class='form-group'>
        <%= submit_tag "Save", class:'btn btn-primary' %>
      </div>
    <%end%>
  </div>
</div>

