<h1>Writer Phase</h1>

<h5>The Writer phase ends on <%= @assignment.writer_due.strftime('%-m.%-d.%Y')%>.</h5>
<br>

<h4><%= @assignment.description%></h4>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "110x8"%>
    <%= hidden_field_tag :description_flag, '1' %>
  </div>

  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Question saved!')" %>
  </div>
<% end %>

<br><br>



<% unless @assignment.description_2 == "" %>

<h4><%= @assignment.description_2%></h4>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "110x8"%>
    <%= hidden_field_tag :description_flag, '2' %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Question saved!')" %>
  </div>
<% end %>
<%end%> <%#FIX SPACING LATER!!!!!!%>

<br><br>

<% unless @assignment.description_3 == "" %>

<h4><%= @assignment.description_3%></h4>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "110x8"%>
    <%= hidden_field_tag :description_flag, '3' %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Question saved!')" %>
  </div>
<% end %>
<%end%> <%#FIX SPACING LATER!!!!!!%>

