<%# will contain own question to create/edit%> 

<h1>Writer Phase</h1>
<h4><%= @assignment.description%></h4>
<h5>The Writer phase ends on <%= @assignment.writer_due.strftime('%-m.%-d.%Y')%>.</h5>

<br>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "100x10"%>
    <%= hidden_field_tag :description_flag, '1' %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Question saved!')" %>
  </div>
<% end %>

<h4><%= @assignment.description_2%></h4>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "100x10"%>
    <%= hidden_field_tag :description_flag, '2' %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Question saved!')" %>
  </div>
<% end %>

<h4><%= @assignment.description_3%></h4>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "100x10"%>
    <%= hidden_field_tag :description_flag, '3' %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Question saved!')" %>
  </div>
<% end %>

<br>



		<%#= link_to 'Back to question index', questions_path %>