<h1>Writer Phase</h1>

<h5>The Writer phase ends on <%= @assignment.writer_due.strftime('%-B %-d, %Y at %I:%M%p')%>.</h5>
<br>

<h4><%= @assignment.description%></h4>
<%= form_for(@question_1) do |f| %>
  <% if @question_1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_1.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question_1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <br>
    <%= f.text_area :content, size: "110x8"%>
    <%= f.hidden_field :description_flag, value: "1" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Submission saved!')" %>
  </div>
<% end %>

<br><br>



<% unless @assignment.description_2 == "" %>

<h4><%= @assignment.description_2%></h4>
<%= form_for(@question_2) do |f| %>
  <% if @question_2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_2.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question_2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <br>
    <%= f.text_area :content, size: "110x8"%>
    <%= f.hidden_field :description_flag, value: "2" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Submission saved!')" %>
  </div>
<% end %>
<%end%> 

<br><br>

<% unless @assignment.description_3 == "" %>

<h4><%= @assignment.description_3%></h4>
<%= form_for(@question_3) do |f| %>
  <% if @question_3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_3.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question_3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <br>
    <%= f.text_area :content, size: "110x8"%>
    <%= f.hidden_field :description_flag, value: "3" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :onclick=> "return confirm('Submission saved!')" %>
  </div>
<% end %>
<%end%> 

