<h1>Question(s)</h1>
<br></br>
<h2>Welcome to the "dashboard"</h2>

<%= if current_user.group.writer?
      render 'writer' 
    else
      render 'promoter'
    end %>

<%# we need to account for ADMIN here too, I think%>

<%= link_to 'New Question', new_question_path %>

<br> <%# Just for spacing! %>

<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%#//if currentuser?
  render writer
  else
  render reader


  then we'll have partials for them in the questions view 




//notes (overview)

  Homeindex.html.erb view will check if admin/not admin (redirect)
  
  Questions index view: check for reader/writer 
  render partial views

  Questions index view also has an admin view%>

